@model IEnumerable<Fall2024_Assignment3_npmckivergan.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<style>
    .content {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px; 
        border-radius: 10px;
        color: #f0f0f0; 
        margin-bottom: 20px; 
    }

    .table {
        width: 100%; 
        color: #f0f0f0;
    }

        .table th {
            background-color: rgba(255, 255, 255, 0.1); 
            color: #ffffff; 
        }

        .table td {
            background-color: rgba(255, 255, 255, 0.05);
        }

    a.button {
        display: inline-block;
        padding: 10px 15px; 
        margin: 5px;
        border-radius: 5px;
        background-color: #1e90ff;
        color: #ffffff;
        text-decoration: none;
        transition: background-color 0.3s;
    }

        a.button:hover {
            background-color: #ffa500;
        }

    img {
        border-radius: 10%;
    }
</style>

<div class="content text-center">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create" class="button">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Genre)</th>
                <th>@Html.DisplayNameFor(model => model.Year)</th>
                <th>IMDB</th>
                <th>@Html.DisplayNameFor(model => model.Media)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Year)</td>
                    <td><a href="@item.IMDB_link" target="_blank">@item.IMDB_link</a></td>
                    <td>
                        @if (item.Media != null)
                        {
                            var base64 = Convert.ToBase64String(item.Media);
                            var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                            <img src="@imgSrc" height="225" width="150" />
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="button">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="button">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
